@page "/error"
<MudText Typo="Typo.h2" Color="Color.Error" Align="Align.Center">
    Something wrong was happened ! 
</MudText>
<p style="text-align: center;">
    <MudIcon 
       Icon="@Icons.Custom.Uncategorized.Radioactive" 
       Style="font-size: 16rem;"
       Color="Color.Error"
       Title="Server Error" />
</p>